/* DEFINE TODAS LAS PANTALLAS */
@media all {
	* {
		box-sizing: border-box;
	}
	body {
		font-family: sans-serif;
		margin: 0;
	}

	.slider {
		height: 10rem;
	}
	.slider img {
		width: 100%;
		height: 100%;
	}
	.contenido {
		display: flex;
		padding-top: 1rem;
	}
	.contenido div {
		flex: 1;
	}
	.publicidad, .redes {
		text-align: center;
	}
	.pie {
		text-align: center;
	}
	.hide--desktop {
		display: none;
	}
}
/* SOLO MOBILE */
@media (max-width: 768px){
	.contenido {
		display: block;
	}
	.hide--mobile {
		display: none;
	}
	.hide--desktop {
		display: block;
	}
	.publicidad, .redes {
		text-align: left;
	}
	.contenido div {
		padding: 1rem;
	}
	.pie {
		padding: 0.5rem;
		background-color: #ccc;
		position: fixed;
		bottom: 0;
		width: 100%;
	}
	.section {
		min-height: 100vh;
		padding: 1rem;
		padding-top: 3rem;
	}
	.menu {
		position: fixed;
		background-color: #ccc;
		padding: 1rem;
		width: 100%;
	}
}
/* TABLET */
@media (min-width: 769px) and (max-width: 1024px){
	.slider {
		display: none;
	}
}