<ul id="productosLista"></ul>

<script id="scriptView">
	// tpl va a cargar el ul con li de una estructura de datos
	let productosLista = document.querySelectorAll('#productosLista')
	productosLista 	   = productosLista[0]
	let arrProductos = [
		{
			nombre: "Manzana"
		},
		{
			nombre: "Pera"
		},
		{
			nombre: "Frutilla"
		},
		{
			nombre: "Manzana"
		},
		{
			nombre: "Pera"
		},
		{
			nombre: "Frutilla"
		}
	]
	let li = ``

	for (var i = arrProductos.length - 1; i >= 0; i--) {
		let producto = arrProductos[i]

		li += `
			<li>${producto.nombre}</li>
		`
	}

	productosLista.innerHTML = li;
</script>