<!-- Componente de articulos -->
<div id="productos">
	<table class="table">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Precio</th>
				<th>Cantidad</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="producto in productos">
				<td>{{producto.nombre}}</td>
				<td>{{producto.precio}}</td>
				<td>{{producto.cantidad}}</td>
				<td>
					<router-link 
						v-bind:to="'/producto/edit/' + producto._id" 
						class="btn btn-secondary">Editar</router-link>
				</td>
			</tr>
		</tbody>
	</table>
</div>