<div id="producto--form">
	<form>
		<input type="text" v-model="producto.nombre" placeholder="Nombre" class="form-control">
		<br>
		<input type="number" v-model="producto.precio" placeholder="Precio" class="form-control">
		<br>
		<input type="number" v-model="producto.cantidad" placeholder="Cantidad" class="form-control">
		<br>
		<button type="button" class="btn btn-success" v-on:click="guardarProducto">Guardar</button>
		<router-link to="/productos" class="btn btn-default">Cancelar</router-link>
	</form>
</div>