<div id="home--component">
	<menu-component></menu-component>
	<div class="container-fluid">
		<!-- Buscador -->
		<div class="compBuscador">
			<div class="compBuscador__input">
				<input type="search" class="form-control" placeholder="Buscar propiedades en tu zona">
			</div>
			<div class="compBuscador__button">
				<button class="btn btn-success">Buscar</button>
			</div>
		</div>
		<!-- Comp: Propiedades destacadas -->
		<div class="compPropDestacadas">
			<h2>Propiedades destacadas en tu zona</h2>
			<!-- Listado de propiedades -->

			<!-- Tres propiedades por fila -->
			<div class="compPropDestacadas__cont" v-for="props in propiedades">
				<div class="compPropDestacadas__cont--prop" v-for="prop in props">
					<h2>{{prop.propiedad_descripcion}}</h2>
					<img v-bind:src="prop.propiedad_foto">
					<p>
						<span class="badge badge-secondary">{{prop.zona_nombre}}</span>
						<span class="badge badge-secondary">{{prop.ciudad_nombre}}</span>
						<span class="badge badge-secondary">{{prop.departamento_nombre}}</span>
						<span class="badge badge-secondary">{{prop.pais_nombre}}</span>
					</p>
					<h3>
						<span class="badge badge-info">$ {{prop.propiedad_precio}}/mo</span>
					</h3>
				</div>
			</div>
		</div>
	</div>
</div>