<h2>ABM Productos <button onclick="hideShowItem('#formProducto','#listadoProducto')">+ Producto</button></h2>

<!-- Paso 1. -->
<table id="listadoProducto">
	<thead>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Precio</th>
			<th>Activo</th>
			<th>Acción</th>
		</tr>
	</thead>
	<tbody>
		<!-- Render de: Producto.obtenerProductos -->
	</tbody>
</table>

<hr>

<!-- Paso 2. -->
<form id="formProducto" style="display: none;">
	<input type="hidden" name="_id" class="field">
	<div>
		<label>Nombre</label>
		<br>
		<input type="text" name="nombre" class="field">
	</div>
	<div>
		<label>Precio</label>
		<br>
		<input type="number" name="precio" class="field">
	</div>
	<div>
		<label>Activar Producto</label>
		<br>
		<input type="checkbox" name="activo" class="field">
	</div>
	<div>
		<button type="button" onclick="Producto.guardar()">Guardar</button>
		<button type="button" onclick="hideShowItem('#listadoProducto','#formProducto')">Cancelar</button>
	</div>
</form>