<!DOCTYPE html>
<html>
<head>
	<title></title>

	<!-- Incluir la libreria -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<!-- Router -->
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	
	<!-- Axios -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<script type="text/javascript">
		const API = 'https://crudcrud.com/api/a26d594d51954641a780ae8210edaa60'
	</script>
</head>
<body>
	<div id="app" class="container">
		<!-- Corre la instancia de Vue -->
		<h2>{{title}}</h2>

		<ul>
			<li>
				<router-link to="/">Artículos</router-link>
			</li>
			<li>
				<router-link to="/articulo/new">+ Artículo</router-link>
			</li>
			<li>
				<router-link to="/productos">Productos</router-link>
			</li>
			<li>
				<router-link to="/producto/new">+ Producto</router-link>
			</li>
		</ul>

		<router-view>
			<!-- Componentes dinámicos -->
		</router-view>
	</div>

	<!-- Componentes: Blog -->
	<script type="text/javascript" src="app/components/blog/articulos.component.js"></script>
	<script type="text/javascript" src="app/components/blog/articulo.component.js"></script>

	<!-- Componentes: Producto -->
	<script type="text/javascript" src="app/components/producto/producto.component.js"></script>
	<script type="text/javascript" src="app/components/producto/productos.component.js"></script>

	<!-- Instancia de Vue -->
	<script type="text/javascript" src="app/app.js"></script>
</body>
</html>