<h2>ABM Clientes <button onclick="hideShowItem('#formCliente','#listadoCliente')">+ Cliente</button></h2>

<!-- Paso 1. -->
<table id="listadoCliente">
	<thead>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Tipo</th>
			<th>Documento</th>
			<th>Rut</th>
			<th>Activo</th>
			<th>Acción</th>
		</tr>
	</thead>
	<tbody>
		<!-- Render de: Cliente.obtenerClientes -->
	</tbody>
</table>

<hr>

<!-- Paso 2. -->
<form id="formCliente" style="display: none;">
	<input type="hidden" name="_id" class="field">
	<div>
		<label>Nombre</label>
		<br>
		<input type="text" name="nombre" class="field">
	</div>
	<div>
		<label>Tipo empresa</label>
		<br>
		<select name="tipo" class="field">
			<option value="Empresa">Empresa</option>
			<option value="C. Final">Consumidor Final</option>
		</select>
	</div>
	<div>
		<label>Documento</label>
		<br>
		<input type="number" name="documento" class="field">
	</div>
	<br>
	<div>
		<label>Rut</label>
		<br>
		<input type="number" name="rut" class="field">
	</div>
	<div>
		<label>Activar cliente</label>
		<br>
		<input type="checkbox" name="activo" class="field">
	</div>
	<div>
		<button type="button" onclick="Cliente.guardar()">Guardar</button>
		<button type="button" onclick="hideShowItem('#listadoCliente','#formCliente')">Cancelar</button>
	</div>
</form>