/* MEDIA QUERY */
@media all {
	* {
		box-sizing: border-box;
	}
	body {
		margin: 0;
		font-family: sans-serif;
	}
	.slider {
		height: 10rem;
	}
	.slider img {
		width: 100%;
		height: 100%
	}
	.contenido {
		display: flex;
	}
	.publicidad, .informacion, .sociales {
		flex: 1;
	}
	.pie {
		background-color: #ccc;
		text-align: center;
		padding:0.3rem;
	}
	.hide--desktop {
		display: none;
	}
}
/* VOY A PREPARAR MI CSS PARA MOBILE */
@media (max-width: 768px){
	.contenido {
		display: block;
	}
	.section {
		padding:1rem;
		padding-top: 3rem;
	}
	.pie {
		position: fixed;
		width: 100%;
		bottom: 0;
	}
	#home, #contacto {
		/* TIENE EL ALTO DE LA PANTALLA */
		height: 100vh; 
	}
	.menu {
		position: fixed;
		top: 0;
		background-color: #ccc;
		width: 100%;
		padding: 1rem;
	}
	.hide--mobile {
		display: none;
	}
	.hide--desktop {
		display: block;
	}
	.slider {
		margin-left: -1rem;
		margin-right: -1rem;
	}
}
/* TABLET */
@media (min-width: 769px) and (max-width: 1024px){
	.slider {
		display: none;
	}
}