<div class="row" id="login--form">
	<div class="col-4">
		<h2>Admin</h2>
		<form>
			<input type="text" v-model="usr.user" placeholder="Usuario" class="form-control">
			<br>
			<input type="password" v-model="usr.password" placeholder="Password" class="form-control">
			<br>
			<button type="button" class="btn btn-success" v-on:click="loginUser">Ingresar</button>
			<div v-if="error" class="alert alert-danger">
				{{error}}
			</div>
		</form>
	</div>
</div>