/* DESPUES LO VAMOS A VER EN RESPONSIV PARA QUE SIRVE */
@media all {
	* {
		box-sizing: border-box;
	}
	/* TODO NUESTRO CSS */
	body {
		/* ESTILOS DE LA TIPOGRAFIA */
		font-family: sans-serif;
		font-size: 16px;
	}
	#grand--container {
		text-align: center;
		width: 20rem;
		padding: 1rem;
		/* CENTRAR UNA CAJA HORIZONTALMENTE AL MEDIO */
		margin:0 auto;
	}

	/* aplica todos los estilos a: .info--text hijo de #grand--container */
	#grand--container .info--text {
		color: #0070ba;
		border-bottom: 1px solid #ccc;
		padding-bottom: 1rem;
	}
	.logo {
		width: 8rem;
	}
	.btn {
		border: 0;
		border-radius: 0.3rem;
		background-color: #0070ba;
		line-height: 2rem;
		color: #fff;
		font-weight: bold;
		width: 100%	
	}
	.form-item {
		line-height: 2rem;
		width: 100%;
		border-radius: 4px;
		outline-style: none;
		border: 1px solid #ccc;
		padding-left: 1rem;
		margin-bottom: 0.5rem;
	}
	.btn--login {
		margin-top: 1rem;
	}
	.btn--sign-up {
		margin-bottom: 1rem;
		background-color: #ddd;
		color: #333;
	}
}