@media all {
	* {
		box-sizing: border-box;
	}
	body {
		font-family: sans-serif;
	}
	#grand--container {
		text-align: center;
		width: 20rem;
		padding: 1rem;
		margin: 0 auto;
	}
	.info--text a {
		color: #215eb8;
	}
	.btn {
	    width: 100%;
	    line-height: 2rem;
	    border: 0;
	    background-color: #266acf;
	    border-radius: 0.3rem;
	    color: #fff;
	    font-size: 0.8rem;
	    font-weight: bold;
	}
	.form-item {
	    width: 100%;
	    line-height: 2rem;
	    border: 1px solid #ccc;
	    border-radius: 0.3rem;
	    padding-left: 0.5rem;
	    margin-bottom: 0.5rem;
	}
	.logo {
		width: 9rem;
	}
	.info--text {
		padding-bottom: 1.5rem;
		border-bottom: 1px solid #ccc;
		padding-top: 0.5rem;
	}
	.btn--login {
		margin-top: 2rem;
	}
	.btn--signup {
		background-color: #ddd;
		color: #333;
	}
}