<form id="loginForm" style="margin-top: 1rem;">
	<div style="margin-bottom: 1rem;">
		<label>Usuario</label>
		<br>
		<input type="text" name="usuario">
	</div>
	<div style="margin-bottom: 1rem;">
		<label>Clave</label>
		<br>
		<input type="password" name="clave">
	</div>
	<div>
		<button type="button" onclick="Login.auth('#loginForm')">Ingresar</button>
	</div>
</form>