@media all {
	/* #74C5FF */
	* {
		box-sizing: border-box;
	}
	body {
		font-family: sans-serif;
		margin: 0;
	}
	#grand--container {
		max-width: 28rem;
		margin: 0 auto;
		padding:1rem;
	}
	.register--row {
		border-bottom: 1px solid #999;
		margin-bottom: 3rem;
		display: flex;
	}
	.register--row.last {
		margin-bottom: 0;
	}
	.register--row input {
		line-height: 2rem;
		border: 0;
		flex: 4;
		font-size: 1rem;
		padding-left: 0.5rem;
	}
	.register--row label {
		flex: 1;
		line-height: 2rem;
	}
	.register--button {
		text-align: right;
		margin-top: 3rem;
	}
	.register--button button {
		background-color: #FA1744;
		border: 0;
		width: 10rem;
		line-height: 2.5rem;
		border-radius: 2rem;
		font-size: 1rem;
		color: #fff;
		cursor: pointer;
	}
	.register--button button:hover {
		box-shadow: 1px 1px 10px #FA1744;
	}

}