<div id="cliente--form">
	<h2>Cliente ::</h2>
	<form>
		<input type="text" v-model="cliente.nombre" placeholder="Nombre" class="form-control">
		<br>
		<input type="text" v-model="cliente.apellido" placeholder="Apellido" class="form-control">
		<br>
		<input type="number" v-model="cliente.rut" placeholder="RUT" class="form-control">
		<br>
		<input type="number" v-model="cliente.documento" placeholder="Documento" class="form-control">
		<br>
		<label>Activo: </label> <input v-bind:disabled="!cliente.id" type="checkbox" v-model="cliente.activo">
		<br>
		<button type="button" v-on:click="guardar" class="btn btn-success">Guardar</button>
		<router-link to="/clientes" class="btn btn-default">Cancelar</router-link>
		<button style="float: right;" type="button" v-if="cliente.id" v-on:click="eliminar" class="btn btn-danger">Eliminar</button>
	</form>
</div>