<div id="clientes--component">
	<menu-component></menu-component>
	<h2>Clientes 
		<router-link to="/" href="#" class="btn btn-default" style="float: right;">Cerrar sesión</router-link>
		<router-link to="/cliente/new" class="btn btn-secondary" style="float: right;">+ Cliente</router-link>
	</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Documento</th>
				<th>Rut</th>
				<th>Activo</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="cli in clientes">
				<td>{{cli.id}}</td>
				<td>{{cli.nombre}} {{cli.apellido}}</td>
				<td>{{cli.documento ? cli.documento : 'N/A'}}</td>
				<td>{{cli.rut ? cli.rut : 'N/A'}}</td>
				<td>{{cli.activo == 1 ? 'SI' : 'NO'}}</td>
				<td>
					<router-link v-bind:to="'/cliente/edit/' + cli.id" class="btn btn-primary">Editar</router-link>
				</td>
			</tr>
		</tbody>
	</table>
</div>