/* COMPONENTE - BTN */
/* ALL DEVICES */
@media all {
	/* BLOCK */
	.botonComponent {
		display: inline;
	}

	/* ELEMENTO */
	.botonComponent .botonComponent__button {
		border: 0;
		width: 10rem;
		line-height: 2.5rem;
		border-radius: 2rem;
		font-size: 1rem;
	}

	/* MODIFICADORES */

	/* NIVEL DE ACOPLAMIENTO 1 */
	.botonComponent .botonComponent__button--disabled {
		color: #fff;
		opacity: 0.5;
		cursor: not-allowed;
	}
		/* CAMBIO DE ESTADOS */
		.botonComponent .botonComponent__button.botonComponent__button--disabled:hover {
			box-shadow: none;
		}
		.botonComponent .botonComponent__button.botonComponent__button--disabled:focus {
			outline: none;
			outline-style: none;
		}

	.botonComponent .botonComponent__button--blue {
		background-color: #03b;
		color: #fff;
	}
		/* CAMBIO DE ESTADOS */
		.botonComponent .botonComponent__button--blue:hover {
			box-shadow: 1px 1px 10px #03b;
		}

	.botonComponent .botonComponent__button--red {
		background-color: #FA1744;
		color: #fff;
	}

		/* CAMBIO DE ESTADOS */
		.botonComponent .botonComponent__button--red:hover {
			box-shadow: 1px 1px 10px #FA1744;
		} 
}
/* MOB. DEVICES */
@media (max-width: 768px){
	/* BLOQUE */
	.botonComponent {
		display: block;
	}
	/* ELEMENTO */
	.botonComponent .botonComponent__button {
		width: 100%;
	}
}
/* COMP. BTN - END */