/* COMPONENTE - BTN */
	/* ALL DEVICES */
	@media all {
		/* BLOCK */
		.formCmp {
			display: block;
			width: 100%;
		}

		.formCmp * {
			box-sizing: border-box;
		}

		/* ELEMENTO */
		.formCmp .formCmp__btn {
			border: 0;
			width: 10rem;
			line-height: 2.5rem;
			border-radius: 2rem;
			font-size: 1rem;
		}

		/* MODIFICADORES */

		/* NIVEL DE ACOPLAMIENTO 1 */
		.formCmp .formCmp__btn--disabled {
			color: #fff;
			opacity: 0.5;
			cursor: not-allowed;
		}
			/* CAMBIO DE ESTADOS */
			.formCmp .formCmp__btn.formCmp__btn--disabled:hover {
				box-shadow: none;
			}
			.formCmp .formCmp__btn.formCmp__btn--disabled:focus {
				outline: none;
				outline-style: none;
			}

		.formCmp .formCmp__btn--blue {
			background-color: #03b;
			color: #fff;
		}
			/* CAMBIO DE ESTADOS */
			.formCmp .formCmp__btn--blue:hover {
				box-shadow: 1px 1px 10px #03b;
			}

		.formCmp .formCmp__btn--red {
			background-color: #FA1744;
			color: #fff;
		}

			/* CAMBIO DE ESTADOS */
			.formCmp .formCmp__btn--red:hover {
				box-shadow: 1px 1px 10px #FA1744;
			}

		.formCmp .formCmp__btn--success {
			background-color: #3b0;
			color: #fff;
		}
			/* CAMBIO DE ESTADOS */
			.formCmp .formCmp__btn--success:hover {
				box-shadow: 1px 1px 10px #3b0;
			}

		/* ROWS */
		.formCmp .formCmp__row {
		 	padding-top: 0.5rem;
		 	padding-bottom: 0.5rem;
		}

		.formCmp .formCmp__input {
			line-height: 3rem;
			padding-left: 0.5rem;
			font-size: 1rem;
			border-radius: 0.3rem;
			border: 0;
			min-width: 100%;
		}

		.formCmp .formCmp__input--default {
			border:1px solid #ccc;
		}

			/* MOD. DEFAULT FOCUS */
			.formCmp .formCmp__input--default:focus {
				outline-style: none;
				border:1px solid #666;
			}

		.formCmp .formCmp__input--success {
			border:1px solid #3b6;
		}

			/* MOD. DEFAULT FOCUS */
			.formCmp .formCmp__input--success:focus {
				outline-style: none;
				border:1px solid green;
			}

		.formCmp .formCmp__input--disabled {
			border:1px solid #ccc;
			opacity: 0.5;
			cursor: not-allowed;
		}

			/* MOD. DEFAULT FOCUS */
			.formCmp .formCmp__input--disabled:focus {
				outline-style: none;
			}
	}
	/* MOB. DEVICES */
	@media (max-width: 768px){
		/* BLOQUE */
		.formCmp {
			display: block;
		}
		/* ELEMENTO */
		.formCmp .formCmp__btn {
			width: 100%;
		}
	}
/* COMP. BTN - END 