/* ACA TRABAJAMOS TODO EL MOBILE */
@media all {
	* {
		box-sizing: border-box;
	}
	body {
		font-family: sans-serif;
		margin: 0;
	}
	.menu {
		position: fixed;
		background-color: #fff;
		width: 100%;
		left: 0;
		top: 0;
		display: flex;
		color: #168ee6;
	}
	.menu div {
		flex: 1;
	}
	.logo {
		padding-left: 1rem;
	}
	.menu--button {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: 1rem;
	}
	.menu--button i {
		font-size: 1.5rem;
		color: #168ee6;
	}
	.menu--button button {
		background-color: transparent;
		border:0;
	}
	.section {
		height: 100vh;
		padding-top: 2rem;
	}
	.info--image img {
		width: 100%;
		height: 10rem;
		object-fit: contain;
		margin-top: 2rem;
	}

	.info--text {
		padding: 1rem;
		padding-top: 0;
	}

	.info--text h2 {
		color: #168ee6;
	    text-transform: uppercase;
	    font-size: 3rem;
	    font-weight: normal;
	}
	.info--text p {
		color: #666;
    	line-height: 1.5rem;
	}
	.info--text h2::after {
		content: '';
		display: block;
		width: 50%;
		height: 2px;
		background-color: #74C5FF;
		margin-top: 1rem;
	}
	.info--text button {
		width: 100%;
		line-height:3rem;
		background-color: #74C5FF;
		color: #fff;
		border: 0;
		border-radius: 0.5rem;
		font-size: 1rem;
	}
	.aux--flex {
		display: none;
	}
	.hide--mobile {
		display: none;
	}
}
/* ACA EXCEPCIONES DE DESKTOP */
@media (min-width: 769px){
	.section {
		display: flex;
	}
	.info--image, .info--text {
		flex: 1;
	}
	.aux--flex {
		display: block;
		flex: 1;
	}
	.hide--mobile {
		display: block;
	}
	.info--image, .info--text {
		flex: 3;

		display: flex;
		align-items: center;
	}
	.info--text button {
		width: 9rem;
		line-height: 2.3rem;
		margin-top: 0.5rem;
		border-radius: 0.125rem;
	}
	.info--image img {
		height: auto;
		
	}

	.hide--desktop {
		display: none;
	}
}