@media all {
	/* A TODOS LOS ELEMENTOS ACOTA AL BORDE DE LA CAJA */
	* {
		box-sizing: border-box;
	}
	body {
		font-family: sans-serif;
	}
	/* id="grand--container" */
	#grand--container {
		text-align: center;
		width: 20rem;
		padding: 1rem;
	}
	/* class="logo" */
	.logo {

	}

	/* TODO a hijo de .info--text */
	/* Toda subcaja hija de .info--text */
	.info--text a {
		color: #275dc1;
	}

	.btn {
	    width: 100%;
	    line-height: 2rem;
	    border: 0;
	    background-color: #0a65d5;
	    color: #fff;
	    font-weight: bold;
	    border-radius: 0.3rem;
	}
	.btn--grey {
		color: #333;
		background-color: #ddd;
	}

	.form-item {
	    width: 100%;
	    line-height: 2rem;
	    border: 1px solid #999;
	    border-radius: 0.3rem;
	    padding-left: 0.5rem;
	    margin-bottom: 0.5rem;
	}
	.logo {
		width: 9rem;
	}
	.btn--login {
		margin-top: 1.25rem;
		margin-bottom: 0.85rem;
	}
	.info--text {
	    padding-bottom: 1.25rem;
	    border-bottom: 1px solid #ccc;
	}
}