<!-- Componente de articulos -->
<div id="blog--articulos">
	<div v-for="articulo in articulos">
		<h2>{{articulo.titulo}}</h2>
		<img v-bind:src="articulo.img">
		<p>{{articulo.desc}}</p>
		<a v-bind:href="articulo.link" class="btn btn-primary">Ver más</a>
		<router-link 
			v-bind:to="'/articulo/edit/' + articulo._id" 
			class="btn btn-secondary">Editar</router-link>
	</div>
</div>