<!DOCTYPE html>
<html>
<head>
	<title>Blog - VueFast</title>

	<!-- Libs -->
		<!-- VueJS -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

		<!-- VueRouter -->
		<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

		<!-- Axios -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

		<!-- Bootstrap UI -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

		<!-- Style custom -->
		<link rel="stylesheet" type="text/css" href="style.css">
	<!-- Libs / -->

	<!-- Variable de ambiente -->
	<script type="text/javascript">
		const API = 'https://crudcrud.com/api/08abde7976354df9a6606ebdb1e47146/'
	</script>
</head>
<body>
	<div id="app">
		<!-- Vue instancia -->
		<div class="container">
			<h2>{{title}}</h2>
			<ul>
				<li><a href="#" v-on:click="changeState('listado')">Listado</a></li>
				<li><a href="#" v-on:click="changeState('formulario')">Crear/Editar</a></li>
			</ul>
			<!-- Invocar el componente de: "blog-listado" -->
			<blog-listado v-if="state == 'listado'"></blog-listado>
			<blog-form v-if="state == 'formulario'"></blog-form>
		</div>
	</div>

	<!-- Componentes -->

		<!-- Blogs component -->
		<script type="text/javascript" src="app/components/blog/blogs.component.js"></script>
		<script type="text/javascript" src="app/components/blog/blogform.component.js"></script>

	<!-- Init App -->
	<script type="text/javascript" src="app/app.js"></script>

</body>
</html>