<div id="adm-propiedades--component">
	<menu-component></menu-component>
	<div class="container-fluid">

		<!-- Comp: Propiedades destacadas -->
		<div class="compPropDestacadas">
			<h2 style="margin-top: 2rem;">
				<span>Mis propiedades</span>
				<button class="btn btn-secondary" style="float: right;" data-toggle="modal" data-target="#staticBackdrop">+ Propiedad</button>
			</h2>
			<!-- Listado de propiedades -->

			<!-- Tres propiedades por fila -->
			<div class="compPropDestacadas__cont" v-for="props in propiedades">
				<div class="compPropDestacadas__cont--prop" v-for="prop in props">
					<h2>{{prop.propiedad_descripcion}}</h2>
					<img v-bind:src="prop.propiedad_foto">
					<p>
						<span class="badge badge-secondary">{{prop.zona_nombre}}</span>
						<span class="badge badge-secondary">{{prop.ciudad_nombre}}</span>
						<span class="badge badge-secondary">{{prop.departamento_nombre}}</span>
						<span class="badge badge-secondary">{{prop.pais_nombre}}</span>
					</p>
					<h3>
						<span class="badge badge-info">$ {{prop.propiedad_precio}}/mo</span>
					</h3>
					<div>
						<button class="btn btn-info" data-toggle="modal" data-target="#staticBackdrop" v-on:click="byPassPropiedad(prop)">Editar</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Crear / Editar propiedad -->

	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	  <div class="modal-dialog modal-xl">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="staticBackdropLabel">Crear/Editar propiedad</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form class="row">
	        	<div class="col-6">
	        		<input type="text" class="form-control" placeholder="Descripción" v-model="propiedad.propiedad_descripcion">
		        	<br>
		        	<input type="text" class="form-control" placeholder="Foto (Url)" v-model="propiedad.propiedad_foto">
		        	<br>
		        	<input type="text" class="form-control" placeholder="Duración minima del contrato (meses)" v-model="propiedad.duracion_meses">
	        	</div>
	        	<div class="col-6">
	        		<select class="form-control" v-model="propiedad.propiedad_zona">
		        		<option selected="" disabled="">Seleccionar la zona</option>
		        		<option value="1">Malvin</option>
		        		<option value="2">Aguada</option>
		        	</select>
		        	<br>
		        	<input type="number" class="form-control" placeholder="Precio /mo" v-model="propiedad.propiedad_precio">
	        	</div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
	        <button type="button" class="btn btn-success" v-on:click="guardarPropiedad">Guardar</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>