<div id="blog--form">
	<form>
		<input type="text" v-model="articulo.titulo" placeholder="Titulo" class="form-control">
		<br>
		<input type="text" v-model="articulo.autor" placeholder="Autor" class="form-control">
		<br>
		<input type="text" v-model="articulo.img" placeholder="URL Img" class="form-control">
		<br>
		<input type="text" v-model="articulo.link" placeholder="URL Fuente" class="form-control">
		<br>
		<textarea class="form-control" rows="5" v-model="articulo.desc" placeholder="Descripción"></textarea>
		<br>
		<button type="button" class="btn btn-success" v-on:click="guardarArticulo">Guardar</button>
	</form>
</div>