<!DOCTYPE html>
<html>
<head>
	<title></title>

	<!-- Incluir la libreria -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	
	<!-- Axios -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<script type="text/javascript">
		const API = 'https://crudcrud.com/api/a26d594d51954641a780ae8210edaa60'
	</script>
</head>
<body>
	<div id="app" class="container">
		<!-- Corre la instancia de Vue -->
		<h2>{{title}}</h2>

		<ul>
			<li>
				<a href="#" v-on:click="changeState('listado')">Artículos</a>
			</li>
			<li>
				<a href="#" v-on:click="changeState('formulario')">+ Artículo</a>
			</li>
		</ul>

		<!-- t=4 + i + k +~ ∂ -->
		<blog-articulos v-if="state == 'listado'">
			<!-- state -->
		</blog-articulos>
		<blog-articulo-form v-if="state == 'formulario'"></blog-articulo-form>
	</div>

	<!-- Componentes -->
	<script type="text/javascript" src="app/components/blog/articulos.component.js"></script>
	<!-- Formulario -->
	<script type="text/javascript" src="app/components/blog/articulo.component.js"></script>

	<!-- Instancia de Vue -->
	<script type="text/javascript" src="app/app.js"></script>
</body>
</html>