<!DOCTYPE html>
<html>
<head>
	<title></title>

	<!-- Incluir la libreria -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<!-- Ambiente de vue -->
		<p v-if="isLoading">Cargando ...</p>
		
		<ul v-if="!isLoading">
			<li v-for="pais in paisesArr">{{pais.name}}</li>
		</ul>
		<button v-on:click="obtenerPaises" 
				v-bind:disabled="isLoading">Obtener paises</button>

		<button v-on:click="reiniciarArr" v-if="paisesArr.length > 0">Reiniciar</button>
		<!-- isLoading == true:  <button disabled="true"> Obtener paises </button> -->
		<!-- isLoading == false: <button> Obtener paises </button> -->
	</div>
	
	<!-- Servicio xhr -->
	<!-- <script type="text/javascript" src="xhr.service.js"></script> -->

	<!-- Servicio axios -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

	<script type="text/javascript">
		const API = 'https://restcountries.eu/rest/v2/all'
		let app = new Vue({
			el: '#app',
			data: {
				paisesArr: [],
				isLoading: false
			},
			methods: {
				obtenerPaises: function () {
					this.isLoading = true;

					// Función temporal
					// Espera 3s y luego resuelve algo
					axios.get(API).then( (res) => {
						console.log("res: ", res)
						
						let paises = res.data;
						this.paisesArr = paises;

						// Termina de cargar los paises
						this.isLoading = false;
					})
				},
				reiniciarArr: function () {
					this.paisesArr = []
				}
			},
			mounted: function () {
				
			}
		})
	</script>
</body>
</html>