<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Incluir la libreria -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>

	<div id="app">
		<!-- Ambiente de VUE -->
		{{txt}}
	</div>

	<script type="text/javascript">
		let app = new Vue({
		  el: '#app',
		  data: {
		    txt: 'Hola Mundo'
		  }
		})
	</script>
</body>
</html>