<!DOCTYPE html>
<html>
<head>
	<title></title>

	<!-- Incluir la libreria -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<!-- Cont APP de VUE -->
		<ul>
			<li v-for="producto in productos">
				{{producto.name}}
			</li>
		</ul>
	</div>
	<script type="text/javascript">
		let app = new Vue({
			el: '#app',
			data: {
				productos: [
					{
						name:"Manzana"
					},
					{
						name:"Banana"
					},
					{
						name:"Pera"
					}
				]
			}
		})
	</script>
</body>
</html>