<!DOCTYPE html>
<html>
<head>
	<title></title>

	<!-- Incluir la libreria -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">

		<input type="text" placeholder="Buscar paises ..." v-model="search">
		<button v-on:click="buscarPaises" v-bind:disabled="search == ''">Buscar</button>
		<button v-on:click="reiniciarArr" v-if="paisesArr.length > 0">Reiniciar</button>

		<!-- Ambiente de vue -->
		<p v-if="isLoading">Cargando ...</p>
		
		<ul v-if="!isLoading">
			<li v-for="pais in paisesArr">{{pais.name}}</li>
		</ul>
	</div>
	
	<!-- Servicio xhr -->
	<!-- <script type="text/javascript" src="xhr.service.js"></script> -->

	<!-- Servicio axios -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

	<script type="text/javascript">
		const API = 'https://restcountries.eu/rest/v2/name/'
		let app = new Vue({
			el: '#app',
			data: {
				search: '',
				paisesArr: [],
				isLoading: false
			},
			methods: {
				buscarPaises: function () {
					this.isLoading = true;

					// https://restcountries.eu/rest/v2/name/uruguay
					axios.get(API + this.search).then( (res) => {
						console.log("res: ", res)
						
						let paises = res.data;
						this.paisesArr = paises;

						// Termina de cargar los paises
						this.isLoading = false;
					}).catch( (err) => {
						console.log("err: ", err)
						// let error = err.response;

						this.paisesArr = [{name: err}]
						// this.paisesArr = [{name: err}]

						// Termina de cargar los paises
						this.isLoading = false;
					})
				},
				reiniciarArr: function () {
					this.paisesArr = []
				}
			},
			mounted: function () {
				
			}
		})
	</script>
</body>
</html>