<!DOCTYPE html>
<html>
<head>
	<title></title>

	<!-- Incluir la libreria -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<div>
			<input type="text" v-model="text">
			<button v-on:click="agregarTexto">Agregar</button>
		</div>
		<div>
			<ul>
				<li v-for="(item, index) in toDo">
					<span>{{item.text}}</span>
					<button v-on:click="editarItem(item)">Editar</button>
					<button v-on:click="eliminarItem(index)">Eliminar</button>
				</li>
			</ul>
		</div>
	</div>

	<script type="text/javascript">
		let app = new Vue({
			el: '#app',
			data: {
				text: '',
				ind: undefined,
				toDo: []
			},
			methods: {
				agregarTexto: function () {
					if(!this.ind){
						let idRand = 'ABC'+ Math.floor((Math.random() * 1000));

						let item = {
							id: idRand,
							text: this.text
						}
						this.toDo.push(item)
						this.text = ''
					} else {
						
						// Busqueda
						for (let i = this.toDo.length - 1; i >= 0; i--) {
							let itemLista = this.toDo[i];

							if(itemLista.id == this.ind){
								itemLista.text = this.text;
								this.text  	   = ''
								this.ind 	   = undefined;
								break;
							}
						}
					}
				},
				eliminarItem: function (ind) {
					// Eliminar un elemento a partir del indice "ind" y cantidad 1
					this.toDo.splice(ind, 1)
				},
				editarItem: function (obj) {
					this.text = obj.text;
					this.ind = obj.id;
				}
			}
		})
	</script>
</body>
</html>