<div id="blog--form">
	<h2>{{titulo}}</h2>
	<form>
		<input type="text" name="" v-model="blogItem.title" placeholder="Titulo" class="form-control">
		<br>
		<input type="text" name="" v-model="blogItem.author" placeholder="Autor" class="form-control">
		<br>
		<input type="text" name="" v-model="blogItem.img" placeholder="URL Img" class="form-control">
		<br>
		<textarea class="form-control" rows="5" v-model="blogItem.desc" placeholder="Descripción"></textarea>
		<br>
		<button class="btn btn-success" type="button" v-on:click="guardarBlog">Guardar</button>
	</form>
</div>