<div id="blog--listado">
	<h2>{{titulo}}</h2>
	
	<div v-for="item in blogItems" class="blogItem">
		<img 
			v-bind:src="item.img">
		<h3>{{item.title}}</h3>
		<div v-html="item.desc"></div>
		<a v-bind:href="item.link" target="_new" class="btn btn-primary">Leer más</a>
		<a href="#" class="btn btn-secondary" 
			v-on:click="obtenerBlogItem(item)">Editar</a>
	</div>
</div>