<div id="login--component">
	<menu-component></menu-component>
	<div class="row" id="login--form">
		<div class="col-4">
			<form>
				<input type="text" v-model="usr.user_email" placeholder="Usuario" class="form-control">
				<br>
				<input type="password" v-model="usr.user_pass" placeholder="Password" class="form-control">
				<br>
				<button type="button" class="btn btn-success" v-on:click="loginUser">Ingresar</button>
				<div v-if="success" class="alert alert-success customError">
					{{success}}
				</div>
				<div v-if="error" class="alert alert-danger customError">
					{{error}}
				</div>				
			</form>
			<p class="text-center">Aún no tengo cuenta <router-link to="/register">registrar</router-link></p>
		</div>
	</div>
</div>