@media all {
	.btn, .form-control {
		border-radius: 0;
	}
	/* Componente: Login form */
		#login--form {
			height: 100vh;
			display: flex;
			justify-content: center;
			margin-top: 2rem;
		}
		#login--form .btn.btn-success {
			width: 100%;
		}
		#login--form .alert {
			margin-top: 1rem;
		}

	/* Componente: Clientes */
		#clientes--component {
			margin-top: 2rem;
		}

	/* Componente: Cliente Form */
		#cliente--form {
			margin-top: 2rem;
		}

	/* Componente: Dashboard */
		#dashboard--component, #registroComp {
			margin-top: 2rem;
		}

	/* Componentes de propiedades */
		.compBuscador {
			display: flex;
			margin-bottom: 2rem;
			margin-top: 2rem;
		}
		.compBuscador .compBuscador__input {
			flex: 3;
		}
		.compBuscador .compBuscador__button {
			flex: 1;
			padding-left: 1rem;
		}

		.compPropDestacadas__cont {
			display: flex;
		}

		.compPropDestacadas__cont--prop {
			flex: 1;
			border: 1px solid #ccc;
			padding: 1rem;
			margin: 0.5rem;
		}
		.compPropDestacadas__cont--prop:first-child {
			margin-left: 0;
		}
		.compPropDestacadas__cont--prop h2 {
			font-size: 1.2rem;
		}
		.compPropDestacadas__cont--prop img {
			width: 100%;
			height: 10rem;
			object-fit: cover;
			object-position: center;
		}

		.customError {
			margin-top: 1rem;
			border-radius: 0 !important;
		}

}