@media all {
	/* Componente: Login form */
		#login--form {
			height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		#login--form .btn.btn-success {
			width: 100%;
		}
		#login--form .alert {
			margin-top: 1rem;
		}

	/* Componente: Clientes */
		#clientes--component {
			margin-top: 2rem;
		}

	/* Componente: Cliente Form */
		#cliente--form {
			margin-top: 2rem;
		}

	/* Componente: Dashboard */
		#dashboard--component {
			margin-top: 2rem;
		}
}