<div id="menu--component">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <router-link class="navbar-brand" to="/">{{title}}</router-link>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	      <li class="nav-item active" v-for="item in menuItems">
	        <router-link v-bind:to="item.to" class="nav-link">{{item.name}}</router-link>
	      </li>
	    </ul>
	  </div>
	</nav>
</div>