<div id="registro--component">
	<menu-component></menu-component>
	<div id="registroComp">
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4">
				<form>
					<input type="text" placeholder="Nombre" class="form-control" v-model="user.user_nombre">
					<br>
					<input type="text" placeholder="Apellido" class="form-control" v-model="user.user_apellido">
					<br>
					<input type="text" placeholder="Email" class="form-control" v-model="user.user_email">
					<br>
					<input type="password" placeholder="Clave" class="form-control" v-model="user.user_pass">
					<br>
					<button type="button" class="btn btn-info col-12" v-on:click="registro">Registrar</button>
				</form>
				<div v-if="success" class="alert alert-success customError">
					{{success}}
				</div>
				<div v-if="error" class="alert alert-danger customError">
					{{error}}
				</div>
				<p class="text-center">Ya tengo cuenta <router-link to="/login">ingresar</router-link></p>
			</div>
			<div class="col-4"></div>
		</div>
	</div>
</div>